html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #111111;
  scroll-behavior: smooth;
}


#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
